:root {
  --fondo: #20232a;
  --pinky: #e0bfb8;
  --text: #c4afab;
  --text-dark: #9c8782;
  --active: #ffe4de;
  height: 100%;
}

*{
  box-sizing: border-box ;

}
html {
  height: 100%;
  background-color: var(--fondo);
}

body {
  margin: 0;
  font-family:'Kalam', cursive, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* padding-bottom: 6.74rem; */
  position: relative;
  font-size: 26px !important;
  background-color: var(--fondo) !important;
}
.root{
  position: relative;
  height: 100%;
  /* padding-bottom: 60px; */

}

footer {
  background-color: var(--fondo);
  margin-top: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  right: 0;
  padding-bottom: 40px;
  /* height: 10%; */
  /* height: 80px; */
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

code {
  font-family: 'Dancing Script', cursive,source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px 0 30px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 50vw;
}
/* .App{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */
.logo {
  width: 50px;
  /* height:70%; */
  object-fit: cover;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}
.carousel-container {
  margin-top: 60px;
margin-bottom: 60px;
  display: flex;
  align-content: center;
}
.carousel {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}
.carousel-item {
  width: 80vw !important;
  height: 50vh;
  margin: 0 auto;
}
.carousel-img {
  width: 100% !important;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

.carousel-caption{
  background-color: rgb(126, 126, 126); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(0, 0, 0), rgb(62, 62, 62));
  opacity: 0.7;
}

.carousel-caption h3 a:hover, a i:hover{
  color: var(--active) !important;
}
h3 .pinky{
  font-weight: bold;
}
h3 .pinky:hover{
  color: var(--text-dark) !important;
}


.pinky {
  color: var(--pinky);
  text-decoration: none;
}

.form-container {
  width: 90%vw;
}
.row {
  display: flex;
  flex-direction: row;
}
@media (max-width: 400px) {
  .row {
    flex-direction: column;
  }
}
.col {
  text-align: left;
}
@media (max-width: 400px) {
  .col {
    text-align: left;
  }
}

a {
  text-decoration: none;
  color: var(--text-dark) !important;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  /* color: var(--active) !important */

}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
  color: var(--text-dark);
}

.container h3 a:hover {
  text-decoration: none;
  color: var(--active) !important;

}

.nav-link {
  color: var(--text-dark) !important;
  /* background-color: var(--fondo); */
}
.active {
  color: var(--active) !important;
  text-decoration: none;
}
.nav-link.active {
  background-color: var(--fondo) !important;
  color: var(--active);
}
.avatar {
  width: 70px;
  border-radius: 40px;
}

.nav-tabs {
  justify-content: center;
  align-items: end;
}
.pad3 {
  padding-top: 30px;
}
.portfolio{
  padding: 30px 30px 0 30px;
}

.btn-cus{
  color: var(--fondo) !important;
  background-color: var(--text-dark) !important;
  border: 0 !important;
}

.btn-cus:hover {
  color: var(--fondo) !important;
  background-color: var(--pinky) !important;
  text-decoration: none;
  border: 0 !important;
}
.skillList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size:50px;
  font-size-adjust:0.5;  
  text-align: left;
  vertical-align: middle;
  padding-top: 40px;

}
.skill{
  padding: 10px;
}
